html { background-color: rgba(50, 50, 50, 0.12) ;}

body {
    max-width:800px;
    max-height: 100rem;
    margin:0 auto;
    padding: 1rem;
    border-left: 1.2px solid gray;
    border-right: 1.2px solid gray;
    box-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0, 0.37);
    background-color: white;
}

figure { margin-left: 0.1rem;}

table,th, td, caption {
    border:1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    border-collapse:collapse;
    padding: 0.5rem;
}

 li{list-style-type:circle;}

 ul {padding-left: 1rem;}
     
 td { text-align:center;}

                     /*FORMULARIO START*/

 legend {background-color: rgba(128, 128, 128, 0.336);}

input:invalid + span::before {
    content: 'X';
    font-weight: bolder;
    font-family:sans-serif;
    color: rgba(255, 0, 0, 0.774);
}

input:valid + span::before {
    content: '✓';
    font-weight: bolder;
    font-family:sans-serif;
    color:rgba(0, 128, 0, 0.774);
}

input:invalid {border: 1px solid rgba(255, 0, 0, 0.548);}

input:invalid:required {background-color: rgba(128, 128, 128, 0.226);}

input:valid {border: 1px solid rgba(0, 128, 0, 0.438);}

fieldset {margin-right: 25rem;}

                     /*FORMULARIO END*/